<h1 class="text-center my-4">- TOP TRENDING THIS WEEK - </h1>
<div class="product-list d-flex">

   <div class="cards d-flex" style="gap: 20px;">
    <div class="trending-products">
        <div class="products d-flex card" style="width:19rem">
            <div class="imgs">
                <img class="first-img" src="./../../../assets/prod2.webp" alt="">
                <img class="sec-img" appHover src="./../../../assets/prod3.webp" alt="">
            </div>
            <div class="cart-btn">
                <button class="btn rounded-pill">Add To Cart</button>
            </div>
            <div class="side-cart">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-layer-group"></i>
                <i class="fa-regular fa-eye"></i>
            </div>
            <span class="discount bg-danger rounded-pill px-2">-3%</span>
            <div class="desc" >
                <p>squared Textured Striped</p>
                 <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             <div class="d-flex" style="gap: 10px">  
                <p class="danger">price</p>
                <p class="original-price">price</p>
            </div>
                <div class="colors">
                    <p>color 1</p>
                    <p>color2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="trending-products">
        <div class="products d-flex card" style="width:19rem">
            <div class="imgs">
                <img class="first-img" src="./../../../assets/prod2.webp" alt="">
                <img class="sec-img" appHover src="./../../../assets/prod3.webp" alt="">
            </div>
            <div class="cart-btn">
                <button class="btn rounded-pill">Add To Cart</button>
            </div>
            <div class="side-cart">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-layer-group"></i>
                <i class="fa-regular fa-eye"></i>
            </div>
            <span class="discount bg-danger rounded-pill px-2">-3%</span>
            <div class="desc" >
                <p>squared Textured Striped</p>
                 <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             <div class="d-flex" style="gap: 10px">  
                <p class="danger">price</p>
                <p class="original-price">price</p>
            </div>
                <div class="colors">
                    <p>color 1</p>
                    <p>color2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="trending-products">
        <div class="products d-flex card" style="width:19rem">
            <div class="imgs">
                <img class="first-img" src="./../../../assets/prod2.webp" alt="">
                <img class="sec-img" appHover src="./../../../assets/prod3.webp" alt="">
            </div>
            <div class="cart-btn">
                <button class="btn rounded-pill">Add To Cart</button>
            </div>
            <div class="side-cart">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-layer-group"></i>
                <i class="fa-regular fa-eye"></i>
            </div>
            <span class="discount bg-danger rounded-pill px-2">-3%</span>
            <div  class="desc" >
                <p>squared Textured Striped</p>
                 <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             <div class="d-flex" style="gap: 10px">  
                <p class="danger">price</p>
                <p class="original-price">price</p>
            </div>
                <div class="colors">
                    <p>color 1</p>
                    <p>color2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="trending-products">
        <div class="products d-flex card" style="width:19rem">
            <div class="imgs">
                <img class="first-img" src="./../../../assets/prod2.webp" alt="">
                <img class="sec-img" appHover src="./../../../assets/prod3.webp" alt="">
            </div>
            <div class="cart-btn">
                <button class="btn rounded-pill">Add To Cart</button>
            </div>
            <div class="side-cart">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-layer-group"></i>
                <i class="fa-regular fa-eye"></i>
            </div>
            <span class="discount bg-danger rounded-pill px-2">-3%</span>
            <div class="desc" >
                <p>squared Textured Striped</p>
                 <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             <div class="d-flex" style="gap: 10px">  
                <p class="danger">price</p>
                <p class="original-price">price</p>
            </div>
                <div class="colors">
                    <p>color 1</p>
                    <p>color2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="trending-products">
        <div class="products  card" style="width:19rem">
            <div class="imgs">
            <img src="./../../../assets/prod1.webp" alt="">
            <img class="sec-img" appHover src="./../../../assets/prod3.webp" alt="">
            </div>
            <div class="cart-btn">
                <button class="btn rounded-pill">Add To Cart</button>
            </div>
            <div class="side-cart">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-layer-group"></i>
                <i class="fa-regular fa-eye"></i>


            </div>
            <span class="discount bg-danger rounded-pill px-2">-3%</span>
            <div class="desc">
                <p>squared Textured Striped</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                 </div>
                <div class="d-flex" style="gap: 10px">  
                  
                 <p class="danger">price</p>
                <p class="original-price">price</p>
            </div>
                <div class="colors">
                    <p>color 1</p>
                    <p>color2</p>
                </div>
            </div>
        </div>
    </div>
   </div>
   
</div>
<div class="btns">
    <i class="fa-solid fa-angle-left prev" appPrev></i>
    <i class="fa-solid fa-angle-right next" appNext></i>
</div>



<div class="sub-div">
    <div class="photo">
        <img src="./../../../assets/img1.webp" alt="" class="zoom-image img">
        <div class="text">
            <h6>Online exclusive</h6>
            <h2>Oversized T-shirt</h2>
            <h6 class="sub-heading"> SHOP THE LOOK</h6>
        </div>
    </div>
    <div class="photo">
        <img src="./../../../assets/img2.webp" alt="" class="zoom-image img">
        <div class="text">
            <h6>Online exclusive</h6>
            <h2>Oversized T-shirt</h2>
            <h6 class="sub-heading"> SHOP THE LOOK</h6>
        </div>
    </div>
    <div class="photo">
        <img src="./../../../assets/img3.webp" alt="" class="zoom-image img">
        <div class="text">
            <h6>Online exclusive</h6>
            <h2>Oversized T-shirt</h2>
            <h6 class="sub-heading"> SHOP THE LOOK</h6>

        </div>
    </div>
</div>


<!-- <div class="image-container">
    <img src="./../../../assets/img2.webp" style="width: 40%;" alt="Image" class="zoom-image">
  </div> -->