<div class="footer-main d-flex">
    <div id="one">
        <h1>UMINO</h1>
        <p>268 St, South New York/NY 98944, United States.
            +222-1800-2628</p>
        <p>blueskytechcompany@gmail.com</p>
        <div class="icons d-flex">
            <i class="fa-brands    rounded-circle fa-instagram"></i>
            <i class="fa-brands  rounded-circle fa-tiktok"></i>
            <i class="fa-brands  rounded-circle fa-youtube"></i>
            <i class="fa-brands  rounded-circle fa-facebook-f"></i>
        </div>
    </div>
    <div id="two">
        <ul>
            <h5><b> Company
                </b></h5>
            <li> About Us
            </li>
            <li> Our Stores
            </li>
            <li>Contact Us
            </li>
            <li>Size Guide
            </li>
            <li>My Account</li>
        </ul>
    </div>
    <div id="three">
        <ul>
            <h5><b>Customer Service
                </b></h5>
            <li>
                Privacy Policy

            </li>
            <li>Refund Policy</li>
            <li>
                Shipping & Return
            </li>
            <li>Term & Conditions
            </li>
            <li>Advanced Search
            </li>
            <li>Theme FAQs
            </li>
            <li> Store Locations</li>
        </ul>
    </div>
    <div id="four">
    <h4>Sign Up to Newsletter
      </h4>
      <p>  Enter your email address to get $10 off your first order and free shipping.Updates information on Sales and Offers.</p>
      <div class="form d-flex">
        <input type="text" class="form-control rounded-pill" placeholder="ENTER YOUR EMAIL...">
        <button class="rounded-pill btn btn-dark">SUBSCRIBE</button>
      </div>
    </div>
</div>