
  <div style="width: 100%;">
    <carousel>
      <slide>
        <div class="slide-content" style="">
          
          <div class="content">
            <h1>Online Limited Edition</h1>
            <p>So soft, you don't want to take it off.</p>
            <button class="rounded-pill btn btn-dark ">Shop now</button>
           </div>
        </div>
      </slide>
      <slide>
        <div class="slide-content" style="">
          
          <div class="content">
            <h1>Hulton Perfect Simple</h1>
            <p>So soft, you don't want to take it off.</p>
            <button class="rounded-pill btn btn-dark ">Shop now</button>
           </div>
        </div>
      </slide>
      <slide>
        <div class="slide-content" style="">
          
          <div class="content">
            <h1>Stylish Top Trending</h1>
            <p>So soft, you don't want to take it off.</p>
            <button class="rounded-pill btn btn-dark ">Shop now</button>
           </div>
        </div>
      </slide>
    </carousel>
  </div>
  